<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration>
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/arg_system1</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">1999</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<property name="connection_pool_size">1</property>

		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<property name="hbm2ddl.auto">update</property>
		
<!-- 		<property name="hibernate.current_session_context_class">thread</property> -->
<!-- 		<property name="connection_pool_size">1</property> -->
<!-- 		Sirve para mostrar en consola las sentencias -->
<!-- 		<property name="show_sql">true</property> -->
		<!-- Sirve para generar automaticamente la estructura de la bd -->
<!-- 		<property name="hbm2ddl.auto">update</property> -->
<!-- 		<property name="hibernate.enable_lazy_load_no_trans">true</property> -->

		<!-- List of Class mapping -->
		<mapping class="py.edu.facitec.arg_system.entidad.Cliente"></mapping>
		<mapping class="py.edu.facitec.arg_system.entidad.Grupo"></mapping>
		<mapping class="py.edu.facitec.arg_system.entidad.PedidoDetalle"></mapping>
		<mapping class="py.edu.facitec.arg_system.entidad.Pedido"></mapping>
		<mapping class="py.edu.facitec.arg_system.entidad.Producto"></mapping>
		<mapping class="py.edu.facitec.arg_system.entidad.Configuracion"></mapping>
		
	</session-factory>
</hibernate-configuration>